.generalInfo{
    color: white;
    margin: 20px;
    
}

.generalInfo .gameName{
    text-align: start;
    background: rgb(54, 51, 51);
    padding: 25px;
}

/* General Information */

.gameInfo{
    display: flex;
    text-align: center;
}

/* boxToBlock*/

.boxToBlock{
    display: block;
    flex-wrap: nowrap;
}
h1{
    padding: 20px;
    color: white;
    background: rgb(97, 96, 96);
}
.gameDescription{
    background: rgb(97, 96, 96);
    padding: 20px;
}
/* Platforms */
.gameInfo .platforms{
    background: rgb(97, 96, 96);
    padding: 20px;
}

.gamePlatforms,
.gameGenres .detailGenreList
{
    list-style-type:none;
    color: rgb(192, 163, 163);
}

.gameDetails,
.gameGenres{
    padding: 20px;
    background: rgb(97, 96, 96);
    text-align: center;
}
