.component-box .btn{
    padding: 20px;
    background: rgb(71, 70, 70);
    border-radius: 10px;
    margin: 50px;
    transition: 0.5s;
}
.btn-link{
    text-decoration: none;
    color:white;
}

.component-box .btn:Hover{
    padding: 30px;
    border: 2px solid rgb(26, 130, 156);
}